<div class="page-container">

	<div class="main">
		<app-header></app-header>

		<div class="text">
			<p class="tag">[ Developers ]</p>
			<h1 class="hero-title">
				Engineered by builders <br>
				for builders.
			</h1>
			<p class="pre">Delora lets developers build secure, reliable cross-chain execution.</p>
			<div class="icon scroll-down"></div>
			<div class="post">
				<p>Build Fast.</p>
				<p>&nbsp;&nbsp;Ship Anywhere.</p>
			</div>
		</div>
		<div class="background"></div>
	</div>

	<div class="developers">
		<div class="text-dev">
			<h1>
				Build Anything <br>
				with Delora.
			</h1>
			<a class="button" href="https://portal.delora.build/">
				<p>Start building</p>
				<div class="icon arrow"></div>
			</a>
		</div>
		<div class="developers-container">
			<div class="developer">
				<h3>Introduction</h3>
				<p>
					Guides and quick integration tutorials.
				</p>
				<div class="links">
					<a href="https://docs.delora.build/about" target="_blank">Overview</a>
					<a href="https://docs.delora.build/about#use-cases" target="_blank">Use Cases</a>
					<a href="https://docs.delora.build/about#our-principles" target="_blank">Principles</a>
				</div>
			</div>
			<div class="developer">
				<h3>Protocol Overview</h3>
				<p>
					Core contracts and ready-to-use examples.
				</p>
				<div class="links">
					<a href="https://docs.delora.build/protocol/smart-contract-addresses" target="_blank">Contract Addresses</a>
					<a href="https://docs.delora.build/protocol/smart-contract-architecture" target="_blank">Architecture</a>
					<a href="https://docs.delora.build/protocol/protocol-overview" target="_blank">Overview</a>
				</div>
			</div>
			<div class="developer">
				<h3>API Reference</h3>
				<p>
					Integrate, manage routes, and monitor usage.
				</p>
				<div class="links">
					<a href="https://docs.delora.build/api-reference/endpoint/get-a-quote-for-a-token-transfer" target="_blank">Get Quote</a>
					<a href="https://docs.delora.build/api-reference/endpoint/get-chains" target="_blank">Get Chains</a>
					<a href="https://docs.delora.build/api-reference/endpoint/get-tokens" target="_blank">Get Tokens</a>
					<!-- <a href="https://docs.delora.build/api-reference" target="_blank">SDK Overview</a> -->
					<!-- <a href="https://docs.delora.build/api-reference" target="_blank">Rate Limits</a> -->
				</div>
			</div>
			<div class="developer">
				<h3>Connected Chains</h3>
				<p>
					All networks connected to Delora.
				</p>
				<div class="links">
					<a href="https://docs.delora.build/integrations/connected-chains" target="_blank">Overview</a>
					<a href="https://docs.delora.build/integrations/evm-providers" target="_blank">EVM Providers</a>
					<a href="https://docs.delora.build/integrations/solana-providers" target="_blank">Solana Providers</a>
				</div>
			</div>
			<div class="developer">
				<h3>Dev Community</h3>
				<p>
					Join the chat and stay connected.
				</p>
				<div class="links">
					<a href="https://x.com/deloraprotocol" target="_blank">X / Twitter</a>
					<a href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
					<a href="https://t.me/whoisfedelya" target="_blank">Developer Assistance</a>
				</div>
			</div>
			<div class="developer">
				<h3>Tools</h3>
				<p>
					Partner and dev utilities.
				</p>
				<div class="links">
					<a href="https://portal.delora.build/" target="_blank">Partner Portal</a>
					<a href="https://status.delora.build/" target="_blank">Status</a>
					<a href="/mediakit" target="_blank">Media kit</a>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="head-links-container">
			<div class="head-link">
				<p>Resourses</p>
			</div>
			<div class="head-link">
				<p>Social Media</p>
			</div>
			<div class="head-link">
				<p>Developers</p>
			</div>
			<div class="head-link">
				<p>Tools</p>
			</div>
			<div class="head-link">
				<p>Ecosystem</p>
			</div>
			<!-- <div class="head-link">
				<p>Careers</p>
			</div> -->
		</div>
		<div class="bottom-links-container">
			<div class="bottom-links">
				<a class="bottom-link" href="https://docs.delora.build/about" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<!-- <a class="bottom-link" href="/terms" target="_blank">Terms of Use</a>
				<a class="bottom-link" href="/policy" target="_blank">Privacy Policy</a> -->
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@deloraprotocol" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/deloraprotocol" target="_blank">LinkedIn</a>
				<a class="bottom-link" href="https://link3.to/delora" target="_blank">Link3</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">API</a>
				<a class="bottom-link" href="/execution" >Architecture</a>
				<!-- <a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">SDK & Libraries</a> -->
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/orgs/DeloraProtocol/repositories" target="_blank">GitHub</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://status.delora.build" target="_blank">Status</a>
				<a class="bottom-link" href="https://portal.delora.build" target="_blank">Partner Portal</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
		</div>

		<div class="mobile-links-container">
			<div class="mobile-link">
				<p class="mobile-link-title">Resourses</p>
				<hr>
				<a class="bottom-link" href="https://docs.delora.build/about" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<a class="bottom-link" href="/terms" target="_blank">Terms of Use</a>
				<a class="bottom-link" href="/policy" target="_blank">Privacy Policy</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Social Media</p>
				<hr>
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@deloraprotocol" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/deloraprotocol" target="_blank">LinkedIn</a>
				<a class="bottom-link" href="https://link3.to/delora" target="_blank">Link3</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Developers</p>
				<hr>
				<a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">API</a>
				<a class="bottom-link" href="https://docs.delora.build/protocol/smart-contract-architecture" target="_blank">Architecture</a>
				<!-- <a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">SDK & Libraries</a> -->
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/orgs/DeloraProtocol/repositories" target="_blank">GitHub</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Tools</p>
				<hr>
				<a class="bottom-link" href="https://status.delora.build" target="_blank">Status</a>
				<a class="bottom-link" href="https://portal.delora.build" target="_blank">Partner Portal</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Ecosystem</p>
				<hr>
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
		</div>


		<div class="bottom-text">
			<div class="logo-img1"></div>
			<p>© 2025 Delora. All rights reserved.</p>
		</div>
		<div class="background"></div>
	</footer>
</div>