<div class="page-container">

	<div class="main">
		<app-header></app-header>

		<div class="text">
			<p class="tag">[ WELCOME ]</p>
			<h1 class="hero-title">
				Embed multichain swaps and bridges <br>
				in your on-chain app
			</h1>
			<p class="pre">
				DELORA IS AN EXECUTION LAYER THAT ENABLES DEVELOPERS TO <span style="color: white;">EMBED MULTI-CHAIN SWAPS & BRIDGES  <br>
				DIRECTLY INTO THEIR APPLICATIONS.</span>
			</p>
			<div class="icon scroll-down"></div>
			<div class="post">
				<p>Build Anything.</p>
				<p>&nbsp;&nbsp;Build Anywhere.</p>
			</div>
		</div>
		<div class="background"></div>
	</div>

	<!-- <div class="concept">
		<div class="img"></div>
		<div class="text">
			<p #description class="description typewriter-text">
				Delora is the execution layer for the on-chain <br>
				economy, unifying global liquidity into a <span>simple</span>, <br>
				<span>secure</span>, and <span>composable infrastructure</span>.
			</p>
			<div class="buttons">
				<a class="button main-button" href="/developers">
					<p>Start Building</p>
					<div class="icon arrow"></div>
				</a>
				<a class="button" href="https://docs.delora.build/about" target="_blank">
					<p>Documentation</p>
					<div class="icon arrow"></div>
				</a>
			</div>
		</div>
		<p class="tag">[ Concept ]</p>
	</div> -->

	<div class="principles">
		<p class="tag">[ Principles ]</p>
		<div class="head-principles">
			<h1>Core Principles</h1>
			<a class="button" href="/developers"> 
				<p>Start Building</p>
				<div class="icon arrow"></div>
			</a>
		</div>
		<div class="principles-container">
			<div class="principle">
				<h3>Security & Transparency</h3>
				<p>
					EXECUTION IN DELORA IS HANDLED BY <span style="color: white;">TRANSPARENT, AUDITABLE SMART CONTRACTS</span>
				</p>
				<div class="big-icon security"></div>
			</div>
			<div class="principle">
				<h3>Composable by design</h3>
				<p>
					DELORA LETS YOU <span style="color: white;">INTEGRATE ONLY THE COMPONENTS YOU NEED</span> <span style="color: rgba(var(--white), 0.3);"> THROUGH </span> <span style="color: white;">A SINGLE, UNIFIED API.</span>
				</p>
				<div class="big-icon modular"></div>
			</div>
			<div class="principle">
				<h3>Scales as you grow</h3>
				<p style="color: rgba(var(--white), 0.3);">
					<span style="color: white;">DELORA IS DESIGNED TO SCALE</span> AS NEW CHAINS AND LIQUIDITY SOURCES ARE ADDED.
				</p>
				<div class="big-icon scalability"></div>
			</div>
		</div>
	</div>

	<div class="chains">
		<p class="tag">[ 20+ Supported Chains ]</p>
		<h1>Connected Chains</h1>
		<div class="chains-container">
			<div class="chains-track">
				<div class="chain ethereum"></div>
				<div class="chain arbitrum"></div>
				<div class="chain optimism"></div>
				<div class="chain polygon"></div>
				<div class="chain base"></div>
				<div class="chain binance"></div>
				<div class="chain avax"></div>
				<div class="chain solana"></div>
				<div class="chain sui"></div>
				<div class="chain scroll"></div>
				<div class="chain linea"></div>
				<div class="chain mantle"></div>
				<div class="chain blast"></div>
				<div class="chain zksynk"></div>
				<div class="chain berachain"></div>
				<div class="chain ink"></div>
				<div class="chain metis"></div>
				<div class="chain superposition"></div>
				<div class="chain world"></div>
				<div class="chain abstract"></div>
				<div class="chain celo"></div>
				<div class="chain hyper"></div>
				<div class="chain sei"></div>
				<div class="chain soneium"></div>
				<div class="chain sonic"></div>
				<div class="chain lisk"></div>
				<div class="chain unichain"></div>
				
				<div class="chain ethereum"></div>
				<div class="chain arbitrum"></div>
				<div class="chain optimism"></div>
				<div class="chain polygon"></div>
				<div class="chain base"></div>
				<div class="chain binance"></div>
				<div class="chain avax"></div>
				<div class="chain solana"></div>
				<div class="chain sui"></div>
				<div class="chain scroll"></div>
				<div class="chain linea"></div>
				<div class="chain mantle"></div>
				<div class="chain blast"></div>
				<div class="chain zksynk"></div>
				<div class="chain berachain"></div>
				<div class="chain ink"></div>
				<div class="chain metis"></div>
				<div class="chain superposition"></div>
				<div class="chain world"></div>
				<div class="chain abstract"></div>
				<div class="chain celo"></div>
				<div class="chain hyper"></div>
				<div class="chain sei"></div>
				<div class="chain soneium"></div>
				<div class="chain sonic"></div>
				<div class="chain lisk"></div>
				<div class="chain unichain"></div>
			</div>
		</div>
	</div>

	<div class="developers">
		<p class="tag">[ Developers ]</p>
		<div class="text-dev">
			<h1>
				<span style="color: #72A2F0;">Build</span> & <span style="color: #72A2F0;">Grow</span> <br>
				with Delora.
			</h1>
			<a class="button" href="/developers"> 
				<p>Start Building</p>
				<div class="icon arrow"></div>
			</a>
		</div>
		<div class="developers-container">
			<a class="developer" href="https://docs.delora.build/about" target="_blank">
				<h3>Docs Hub</h3>
				<p>
					Central place for guides and integration tutorials.
				</p>
			</a>
			<a class="developer" href="https://docs.delora.build/protocol/fee-configuration" target="_blank">
				<h3>Monetization</h3>
				<p>
					Guides and documentation on configuring fees.
				</p>
			</a>
			<a class="developer" href="https://portal.delora.build" target="_blank">
				<h3>Partner Portal</h3>
				<p>
					Handle integrations, fees, and reporting.
				</p>
			</a>
			<a class="developer" href="https://docs.delora.build/api-reference/endpoint/get-a-quote-for-a-token-transfer" target="_blank">
				<h3>API Reference</h3>
				<p>
					Detailed list of endpoints and parameters.
				</p>
			</a>
			<a class="developer" href="https://docs.delora.build/protocol/protocol-overview" target="_blank">
				<h3>Protocol Overview</h3>
				<p>
					Learn how Delora's on-chain architecture is designed.
				</p>
			</a>
			<a class="developer" href="/developers" target="_blank">
				<h3>Dev Community</h3>
				<p>
					Join the developer chat and stay connected.
				</p>
			</a>
		</div>
	</div>

	<div class="perfomance">
		<p class="tag">[ Performance ]</p>
		<h1>Performance</h1>
		<div class="perfomance-container">
			<div class="perfomance-item">
				<p>Supported blockchains</p>
				<h1>20</h1>
			</div>
			<div class="perfomance-item">
				<p>Median Response Time</p>
				<h1>&lt;200ms</h1>
			</div>
			<div class="perfomance-item">
				<p>Protocols Integrated</p>
				<h1>30</h1>
			</div>
			<div class="perfomance-item">
				<p>API Uptime</p>
				<h1>99.9%</h1>
			</div>
		</div>
	</div>

	<div class="quickstart">
		<p class="tag">[ Minutes To Launch ]</p>
		<div class="quick-text">
			<h1>Get started <span style="color: #72A2F0;">in minutes</span></h1>
			<p #description3 class="description typewriter-text" style="color: rgba(var(--white), 0.3); font-weight: 400;">
				INTEGRATE DELORA IN JUST <span style="color: white;">A FEW LINES OF CODE</span>. <br>
				CONFIGURE <span style="color: white;">SAME-CHAIN</span> AND <span style="color: white;">CROSS-CHAIN FLOWS</span> THROUGH A <br>
				<span style="color: white;">SINGLE API</span> — NO CUSTOM ROUTING, NO PROTOCOL MAINTENANCE.
			</p>
			<a class="button" href="/developers"> 
				<p>Start Building</p>
				<div class="icon arrow"></div>
			</a>
		</div>
		<div class="code">
			<pre><code>
<span>const main</span> = <span>async</span> () =&gt; &#123;
	const sellAmount = parseUnits("<span>1000</span>", await usdc.read.<span>decimals</span>());

	<span>const</span> params = <span>new URLSearchParams</span>(&#123;
		<span>originChainId</span>: client.<span>originChain</span>.id,
		<span>destinationChainId</span>: client.<span>destinationChain</span>.id,
		<span>originCurrency</span>: usdc.address,
		<span>destinationCurrency</span>: weth.address,
		<span>amount</span>: sellAmount.<span>toString</span>(),
		senderAddress: client.senderAddress,
		<span>receiverAddress</span>: client.<span>receiverAddress</span>,
		<span>tradeType</span>: "EXACT_INPUT",
		<span>integrator</span>: client.<span>integratorString</span>,
		<span>fee</span>: client.<span>fee</span>
	&#125;);

	<span>const</span> quoteResponse = await <span>fetch</span>(
		"https://api.delora.build/v1/quotes" + params.toString(),
		&#123;
			headers,
		&#125;
	);

	<span>const</span> quote = await <span>quoteResponse</span>.<span>json</span>();
	<span>console</span>.<span>log</span>("Quote to swap 1000 USDC for WETH: ", <span>quote</span>);
	&#125;
	main();
			</code></pre>
		</div>
	</div>

	<footer>
		<div class="head-links-container">
			<div class="head-link">
				<p>Resourses</p>
			</div>
			<div class="head-link">
				<p>Social Media</p>
			</div>
			<div class="head-link">
				<p>Developers</p>
			</div>
			<div class="head-link">
				<p>Tools</p>
			</div>
			<div class="head-link">
				<p>Ecosystem</p>
			</div>
			<!-- <div class="head-link">
				<p>Careers</p>
			</div> -->
		</div>
		<div class="bottom-links-container">
			<div class="bottom-links">
				<a class="bottom-link" href="https://docs.delora.build/about" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<!-- <a class="bottom-link" href="/terms" target="_blank">Terms of Use</a>
				<a class="bottom-link" href="/policy" target="_blank">Privacy Policy</a> -->
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@deloraprotocol" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/deloraprotocol" target="_blank">LinkedIn</a>
				<a class="bottom-link" href="https://link3.to/delora" target="_blank">Link3</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">API</a>
				<a class="bottom-link" href="https://docs.delora.build/protocol/smart-contract-architecture" >Architecture</a>
				<!-- <a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">SDK & Libraries</a> -->
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/orgs/DeloraProtocol/repositories" target="_blank">GitHub</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://status.delora.build" target="_blank">Status</a>
				<a class="bottom-link" href="https://portal.delora.build" target="_blank">Partner Portal</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
		</div>

		<div class="mobile-links-container">
			<div class="mobile-link">
				<p class="mobile-link-title">Resourses</p>
				<hr>
				<a class="bottom-link" href="https://docs.delora.build/about" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<a class="bottom-link" href="/terms" target="_blank">Terms of Use</a>
				<a class="bottom-link" href="/policy" target="_blank">Privacy Policy</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Social Media</p>
				<hr>
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@deloraprotocol" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/deloraprotocol" target="_blank">LinkedIn</a>
				<a class="bottom-link" href="https://link3.to/delora" target="_blank">Link3</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Developers</p>
				<hr>
				<a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">API</a>
				<a class="bottom-link" href="https://docs.delora.build/protocol/smart-contract-architecture" target="_blank">Architecture</a>
				<!-- <a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">SDK & Libraries</a> -->
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/orgs/DeloraProtocol/repositories" target="_blank">GitHub</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Tools</p>
				<hr>
				<a class="bottom-link" href="https://status.delora.build" target="_blank">Status</a>
				<a class="bottom-link" href="https://portal.delora.build" target="_blank">Partner Portal</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Ecosystem</p>
				<hr>
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
		</div>


		<div class="bottom-text">
			<div class="logo-img1"></div>
			<p>© 2025 Delora. All rights reserved.</p>
		</div>
		<div class="background"></div>
	</footer>
</div>
