<header>
	<div class="logo" routerLink="/">
		<div class="logo-img1"></div>
		<p></p>
	</div>
	<div class="menu">
		<div class="menu-dropdown">
			<a class="menu-dropdown__trigger">RESOURSES</a>
			<div class="menu-dropdown__panel">
				<a class="menu-dropdown__item" href="/mediakit">MediaKit</a>
				<!-- <a class="menu-dropdown__item" href="/terms">Terms of Use</a>
				<a class="menu-dropdown__item" href="/policy">Privacy Policy</a> -->
			</div>
		</div>
		<div class="devider"></div>
		<a href="https://docs.delora.build/about" target="_blank" rel="noopener noreferrer">DOCS</a>
		<div class="devider"></div>
		<a routerLink="/developers">DEVELOPERS</a>
		<div class="devider"></div>
		<a routerLink="/community">COMMUNITY</a>
	</div>
	<button class="hamburger" (click)="toggleMobileMenu()">
		<img *ngIf="!isMobileMenuOpen" src="/img/icons/hamburger.png" alt="Menu">
		<img *ngIf="isMobileMenuOpen" src="/img/icons/close.png" alt="Close">
	</button>
</header>

<div class="mobile-menu" [class.active]="isMobileMenuOpen">
	<div class="mobile-header">
		<div class="logo" routerLink="/">
			<div class="logo-img"></div>
			<p></p>
		</div>
		<button class="mobile-close" (click)="toggleMobileMenu()">
			<img src="/img/icons/close.png" alt="Close">
		</button>
	</div>

	<nav class="mobile-nav">
		<a href="" target="_blank" rel="noopener noreferrer" (click)="toggleMobileMenu()">DOCS</a>
		<hr>
		<a routerLink="/developers" (click)="toggleMobileMenu()">DEVELOPERS</a>
		<hr>
		<a href="https://medium.com/@deloraprotocol" target="_blank" rel="noopener noreferrer" (click)="toggleMobileMenu()">BLOG</a>
		<hr>
		<a routerLink="/community" (click)="toggleMobileMenu()">COMMUNITY</a>
	</nav>

	<a class="button main-button" href="/developers" target="_blank" rel="noopener noreferrer">
		<p>Start Building</p>
		<div class="icon arrow"></div>
	</a>
</div>
