<div class="page-container">

	<div class="main">
		<app-header></app-header>

		<div class="text">
			<p class="tag">[ Terms Of Use ]</p>
			<h1 class="hero-title">
				Terms of Use
			</h1>
			<div class="icon scroll-down"></div>
			<div class="post">
				<p>EFFECTIVE: OCT 15, 2025</p>
			</div>
		</div>
		<div class="background"></div>
	</div>

	<div class="block first-block">
		<div class="heading">
			<p>1/</p>
			<h2>General Provisions and Scope of Application</h2>
		</div>
		<p class="description">
			These General Terms and Conditions ("Terms") govern access to the website <a class="link" href="https://delora.build" target="_blank">https://delora.build</a> 
			("Delora Website") and the use of software provided by Delora, including SDK and widgets ("Delora 
			Software").
			<br><br>
			Delora has developed the Delora protocol, a set of publicly available, non-custodial smart contracts 
			("Delora Smart Contracts") that provide access to third-party services such as bridges, swaps, and 
			messaging ("Third-Party Contracts") between different blockchains. Delora does not control or 
			operate any version of the Delora Smart Contracts on any blockchain network. Delora has open-sourced 
			the underlying software for these smart contracts to the developer community, allowing any third-party 
			developer to deploy or modify these contracts on compatible public blockchains. If Delora Smart Contracts 
			are deployed by any third party, Delora is not, and does not become, a custodian or counterparty to 
			any transactions executed via these smart contracts.
			<br><br>
			To facilitate access to and third-party integration of Delora Smart Contracts, Delora provides a 
			software development kit ("SDK") and pre-built UI components ("Widget", collectively referred to as 
			"Delora Software"). Delora Software is provided free of charge for commercial use, subject to open-source 
			license terms. Delora Software is distinct from Delora Smart Contracts and is not the only means of accessing 
			these smart contracts.
			<br><br>
			Delora Smart Contracts operate on a non-custodial basis, meaning that the entity deploying Delora Smart 
			Contracts does not assume custody, ownership, or control over the user's digital assets or cryptographic 
			keys at any time. The user is fully responsible for safeguarding their digital assets and cryptographic 
			keys and should never share wallet credentials or seed phrases with any unauthorized third parties. 
			Delora cannot be held liable for the loss of the user's digital assets or cryptographic keys.
			<br><br>
			The user acknowledges that Delora Smart Contracts forward transactions to Third-Party Contracts, such as 
			bridges, decentralized trading, or lending protocols, the availability, reliability, and operability of 
			which Delora cannot guarantee. Delora disclaims any responsibility for such Third-Party Contracts. 
			All transactions executed via Third-Party Contracts are considered unsolicited by Delora, meaning 
			they are exclusively initiated by the user. Delora does not provide investment advice related to 
			these Third-Party Contracts and does not conduct a suitability review of these transactions for the user.
			<br><br>
			Delora reserves the right to modify, enhance, or update Delora Software, including its functionality 
			and design, at any time.
		</p>
	</div>

	<div class="block">
		<div class="heading">
			<p>2/</p>
			<h2>User Obligations and Warranties</h2>
		</div>
		<p class="description">
			By using Delora Software and/or Delora Smart Contracts, you understand that you are not buying or selling 
			digital assets directly from Delora.
			<br><br>
			If you integrate Delora Software into your website or application and make it accessible to third-party users, 
			you agree to take sufficient measures to inform such users that (i) the integration is done independently by you 
			and has no association with Delora, (ii) Delora Smart Contracts or any contracts based on them are 
			non-custodial, (iii) the smart contracts forward transactions to Third-Party Contracts that execute 
			transactions initiated by third-party users, and (iv) Delora does not guarantee the availability, 
			reliability, and operability of such third-party services.
			<br><br>
			When using Delora Software, you are fully responsible for the successful implementation, configuration, and 
			integration of Delora Software, taking into account the specific requirements, limitations, and objectives 
			of your business. Integration of Delora Software into your website or application and its use by third-party 
			users does not create a contractual relationship between those third parties and Delora.
			<br><br>
			You acknowledge and agree that the integration, maintenance, and operation of any integration of Delora 
			Software are beyond the control of Delora. You are solely responsible for ensuring that any such integration 
			complies with all applicable laws and regulations and does not infringe on the rights, particularly 
			intellectual property rights, of any third party.
			<br><br>
			You warrant that you are not (i) subject to any economic or trade sanctions imposed by any government 
			agency or listed on any prohibited or restricted party list, or (ii) a citizen, resident, or organization 
			located in a jurisdiction subject to comprehensive economic sanctions, including but not limited to the 
			United Nations, the European Union, the United States (specifically OFAC), and the United Kingdom.
			<br><br>	
			You further warrant that you are not a United States citizen, permanent resident alien, entity organized 
			under the laws of the United States, or any jurisdiction within the United States (including foreign branches), 
			or any person in the United States.
			<br><br>
			You confirm that your use of Delora Software and Delora Smart Contracts will fully comply with all applicable 
			laws and regulations, and you will not use these services to conduct, promote, or facilitate any illegal 
			activities.
		</p>
	</div>

	<div class="block">
		<div class="heading">
			<p>3/</p>
			<h2>Limitation of Liability</h2>
		</div>
		<p class="description">
			Delora provides Delora Software and Delora Smart Contracts free of charge and is therefore only liable in 
			cases of intent, gross negligence, or fraudulent concealment of a potential material or legal defect. Delora 
			disclaims liability for any modifications of Delora Software by the user.
			<br><br>
			The limitation of liability does not apply to (i) damages resulting from injury to life, body, or health, (ii) 
			if Delora has assumed a guarantee, (iii) claims by the user under the Product Liability Act, or (iv) claims 
			by the user under applicable data protection laws.
		</p>
	</div>

	<div class="block">
		<div class="heading">
			<p>4/</p>
			<h2>Indemnification</h2>
		</div>
		<p class="description">
			You agree to indemnify Delora from any claim, demand, loss, costs, and expenses 
			(including reasonable attorneys’ fees) arising out of or in connection with the use of Delora 
			Software by the user.
		</p>
	</div>

	<div class="block">
		<div class="heading">
			<p>5/</p>
			<h2>Confidentiality</h2>
		</div>
		<p class="description">
			The parties agree to maintain strict confidentiality regarding all confidential information, 
			including know-how and company and business secrets of the other party, obtained during the 
			performance of this agreement, and not to disclose or use this information for any purpose other 
			than performing the agreement.
		</p>
	</div>

	<div class="block">
		<div class="heading">
			<p>6/</p>
			<h2>Data Protection</h2>
		</div>
		<p class="description">
			Delora informs the user about the processing of personal data in accordance with its Privacy Policy.
		</p>
	</div>

	<div class="block">
		<div class="heading">
			<p>7/</p>
			<h2>Changes to the Terms</h2>
		</div>
		<p class="description">
			Delora reserves the right to modify these Terms at any time. Any changes will take effect 
			after users have been notified.
		</p>
	</div>

	<footer>
		<div class="head-links-container">
			<div class="head-link">
				<p>Resourses</p>
			</div>
			<div class="head-link">
				<p>Social Media</p>
			</div>
			<div class="head-link">
				<p>Developers</p>
			</div>
			<div class="head-link">
				<p>Tools</p>
			</div>
			<div class="head-link">
				<p>Ecosystem</p>
			</div>
			<!-- <div class="head-link">
				<p>Careers</p>
			</div> -->
		</div>
		<div class="bottom-links-container">
			<div class="bottom-links">
				<a class="bottom-link" href="https://docs.delora.build/about" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<!-- <a class="bottom-link" href="/terms" target="_blank">Terms of Use</a>
				<a class="bottom-link" href="/policy" target="_blank">Privacy Policy</a> -->
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@deloraprotocol" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/deloraprotocol" target="_blank">LinkedIn</a>
				<a class="bottom-link" href="https://link3.to/delora" target="_blank">Link3</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">API</a>
				<a class="bottom-link" href="/execution" >Architecture</a>
				<!-- <a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">SDK & Libraries</a> -->
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/Delora" target="_blank">GitHub</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://status.delora.build" target="_blank">Status</a>
				<a class="bottom-link" href="https://portal.delora.build" target="_blank">Partner Portal</a>
			</div>
			<div class="bottom-links">
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
		</div>

		<div class="mobile-links-container">
			<div class="mobile-link">
				<p class="mobile-link-title">Resourses</p>
				<hr>
				<a class="bottom-link" href="https://docs.delora.build/about" target="_blank">Documentation</a>
				<a class="bottom-link" href="/mediakit">MediaKit</a>
				<a class="bottom-link" href="/terms" target="_blank">Terms of Use</a>
				<a class="bottom-link" href="/policy" target="_blank">Privacy Policy</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Social Media</p>
				<hr>
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">Twitter / X</a>
				<a class="bottom-link" href="https://t.me/deloraprotocol" target="_blank">Telegram</a>
				<a class="bottom-link" href="https://medium.com/@deloraprotocol" target="_blank">Medium</a>
				<!-- <a class="bottom-link">Discord</a> -->
				<a class="bottom-link" href="https://www.linkedin.com/company/deloraprotocol" target="_blank">LinkedIn</a>
				<a class="bottom-link" href="https://link3.to/delora" target="_blank">Link3</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Developers</p>
				<hr>
				<a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">API</a>
				<a class="bottom-link" href="https://docs.delora.build/protocol/smart-contract-architecture" target="_blank">Architecture</a>
				<!-- <a class="bottom-link" href="https://docs.delora.build/api-reference" target="_blank">SDK & Libraries</a> -->
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Dev Support</a>
				<!-- <a class="bottom-link">Dev Community</a> -->
				<a class="bottom-link" href="https://github.com/Delora" target="_blank">GitHub</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Tools</p>
				<hr>
				<a class="bottom-link" href="https://status.delora.build" target="_blank">Status</a>
				<a class="bottom-link" href="https://portal.delora.build" target="_blank">Partner Portal</a>
			</div>
			<div class="mobile-link">
				<p class="mobile-link-title">Ecosystem</p>
				<hr>
				<a class="bottom-link" href="https://x.com/deloraprotocol" target="_blank">News</a>
				<a class="bottom-link" href="https://t.me/whoisfedelya" target="_blank">Become a partner</a>
			</div>
		</div>


		<div class="bottom-text">
			<div class="logo-img"></div>
			<p>© 2025 Delora. All rights reserved.</p>
		</div>
		<div class="background"></div>
	</footer>
</div>